<div class="row mb-4">
    <div class="btn-group" name="container">
        <button class="btn btn-primary" btnRadio='Unread' [(ngModel)]="container" 
            (click)="loadMessages()"
            style="width: 20px;">
            <i class="fa fa-envelope"></i>Unread
        </button>
        <button class="btn btn-primary" btnRadio='Inbox' [(ngModel)]="container" 
            (click)="loadMessages()"
            style="width: 20px;">
            <i class="fa fa-envelope-open"></i>Inbox
        </button>
        <button class="btn btn-primary" btnRadio='Outbox' [(ngModel)]="container" 
            (click)="loadMessages()"
            style="width: 20px;">
            <i class="fa fa-paper-plane"></i>Outbox
        </button>
    </div>
</div>

<div class="row" *ngIf="messages?.length === 0">
    <h3>No messages</h3>
</div>

<div class="row" *ngIf="messages?.length > 0">
    <table class="table table-hover" style="cursor: pointer;">
        <tr>    
            <th style="width: 40%; text-align: center;">Message</th>
            <th style="width: 20%; text-align: center;">From / To</th>
            <th style="width: 20%; text-align: center;">Sent / Received</th>
            <th style="width: 20%; text-align: center;"></th>
        </tr>
        <tr [hidden]="loading" *ngFor="let message of messages" 
            routerLink='{{container === "Inbox" 
            ? "/members/" + message.recipientUsername 
            : "/members/" + message.senderUsername}}' [queryParams]='{tab: 3}'>
            <td style="text-align: center;">{{message.content}}</td>
            <td>
                <div *ngIf="container === 'Outbox'" class="text-center">
                    <img 
                        class="img me-2 rounded-circle"
                        src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                        alt="{{message.recipientUsername}}"
                        style="width: 50px; height: 50px;">
                    <strong>{{message.senderUsername | titlecase}}</strong>
                </div>
                <div *ngIf="container  !== 'Outbox'" class="text-center">
                    <img 
                        class="rounded-circle me-2"
                        src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                        alt="{{message.senderUsername}}"
                        style="width: 50px; height: 50px;">
                    <strong>{{message.senderUsername | titlecase}}</strong>
                </div>
            </td>

            <td class="text-center">{{message.messageSent | timeago}}</td>
            <td>
                <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && !loading">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
 
</pagination>
</div>